body {
    background-image: url(https://images3.alphacoders.com/839/839629.jpg);

  min-height: 1000px;
}
#logo {
    height: 200px;
    width: 350px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    justify-content: center;
}
a {
    text-decoration: none;
    color: orangered;
}
li {
    list-style-type: none;
 }
.dropdown {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    padding-left: 0px;
}
.dropdown_link:hover + .dropdown {
    display: flex;
flex-direction: column;}
.dropdown:hover {
    display: flex;
}
i {
    color: orangered;
    } 
.compteur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  p {
    color: black;
  }
  
  .row {
    margin: 0px 100px 0px 100px;
    padding: 20px 100px 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #d2d4d6;
    background-color: antiquewhite;
    opacity: 0.9;
}
.fa-heart {
    color: grey;
}
.container {
    margin: 100px 250px 0px 250px;
}
#totalp {
    color: orangered;
}